*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Bona Nova', serif;
}
 body{
    background-color: rgba(255, 187, 255, .2);
    color: rgba(7, 0, 59, 1);
     /* background: url('https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHBhcnRpY2xlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60'); */
 }



/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
